<settings>
    <setting id="custom_mac_1" value="true" />
    <setting id="custom_mac_2" value="false" />
    <setting id="custom_mac_3" value="false" />
    <setting id="custom_serial_1" value="false" />
    <setting id="custom_serial_2" value="false" />
    <setting id="custom_serial_3" value="false" />
    <setting id="device_id2_1" value="" />
    <setting id="device_id2_2" value="" />
    <setting id="device_id2_3" value="" />
    <setting id="device_id_1" value="" />
    <setting id="device_id_2" value="" />
    <setting id="device_id_3" value="" />
    <setting id="login_1" value="739674720238" />
    <setting id="login_2" value="x" />
    <setting id="login_3" value="x" />
    <setting id="parental" value="false" />
    <setting id="password" value="0000" />
    <setting id="password_1" value="739674720238" />
    <setting id="password_2" value="x" />
    <setting id="password_3" value="x" />
    <setting id="portal_mac_1" value="24:26:99" />
    <setting id="portal_mac_2" value="00:00:00" />
    <setting id="portal_mac_3" value="00:00:00" />
    <setting id="portal_name_1" value="NFPS" />
    <setting id="portal_name_2" value="" />
    <setting id="portal_name_3" value="" />
    <setting id="portal_server_1" value="5" />
    <setting id="portal_server_2" value="3" />
    <setting id="portal_server_3" value="3" />
    <setting id="portal_url_1" value="http://portal.iptvprivateserver.tv" />
    <setting id="portal_url_2" value="" />
    <setting id="portal_url_3" value="" />
    <setting id="ppassword" value="0000" />
    <setting id="send_serial_1" value="true" />
    <setting id="send_serial_2" value="false" />
    <setting id="send_serial_3" value="false" />
    <setting id="serial_number_1" value="" />
    <setting id="serial_number_2" value="" />
    <setting id="serial_number_3" value="" />
    <setting id="server_enable" value="true" />
    <setting id="server_port" value="8899" />
    <setting id="signature_1" value="" />
    <setting id="signature_2" value="" />
    <setting id="signature_3" value="" />
    <setting id="vodpages_1" value="10" />
    <setting id="vodpages_2" value="10" />
    <setting id="vodpages_3" value="10" />
</settings>
