<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="active_portal" type="enum" label="30001" lvalues="31000|32000|33000" default="0" />
    <setting id="mac" type="text" label="30101" default="00:00:00" />
    <setting id="time_zone" type="text" label="30103" default="Europe/Kiev" />
    <setting id="donation" type="text" label="30125" default="" />
    <setting id="xmltv_file" type="enum" label="30126" lvalues="30127|30128" default="0" />
    <setting id="sep1" type="lsep" label="30002" />
    <setting id="connection_timeout" type="enum" label="30003" values="0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95|100|105|110|115|120" default="1" />
  </category>
</settings>
