<settings>
    <setting id="active_portal" value="0" />
    <setting id="connection_timeout" value="1" />
    <setting id="donation" value="739674720238" />
    <setting id="mac" value="24:26:99" />
    <setting id="sep1" value="" />
    <setting id="time_zone" value="Americas/Chicago" />
    <setting id="xmltv_file" value="0" />
</settings>
